* {
    box-sizing: border-box;
}

.logo {
    font-size: 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    font-size: 1.2rem;
    font-weight: bold;
}

 i{
    font-size: 1.5rem;
}

.hero_section.hide {
    display: none;
}
/* .hero_section{
    display: none;
} */

.link_section {
    display: none;
}

.link_section.show {
    display: block;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
    background: #dfdfdf;
}

.popup_box {
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: #eee;
    display: none;
} 

.popup_box.show {
    display: block;
}

.result {
    background-color: #eee;
    border-radius: 5px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    overflow-wrap: break-word;
}

.messages {
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, bottom 0.4s;
    visibility: hidden;
}