.logo {
    font-size: 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    font-size: 1.2rem;
    font-weight: bold;
}

 i{
    font-size: 1.5rem;
}

.link_section {
    position: relative;
}

.popup_details {
    position: absolute;
    top: 100;
    left: 10%;
}